@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  padding: 1px;
  background-color: #666;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

body {
 width: 100%;
 height: 100vh;
 display: flex;
 position: relative;
 background: url("../profile-card/assets/web-developer.jpg") no-repeat center center fixed;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 font-family: Times, Times New Roman, serif;
 font-size: 100%;
}

.wrapper {
  width: 420px;
  height: 470px;
  background: #D8D8D8;
  border-radius: 10px;
  padding: 10px 10px 20px 20px;
  box-shadow: 0 8px 40px rgb(0, 0, 0);
  opacity: 0.9;
		

}

.profile {
		margin-top: 2.2em;
		position: relative;
}

.thumbnail {
			width: 146px;
			height: 155px;
			display: flex;
			margin-left: auto;
			margin-right: auto;
			margin-top: -95px;
			border-radius: 100%;
			box-shadow: shadow;
}

.name {
			color: #2D354A;
			font-size: 25px;
			font-weight: 600;
			text-align: center;
	        margin-top: 10px;
	text-transform: uppercase;
		}
		
		.title {
			color: #0E1D31;
			font-size: 1em;
			font-weight: 300;
			text-align: center;
			padding-top: .5em;
			padding-bottom: .7em;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}
		
.description {
			color: #080911;
			font-size: 14px;
			font-weight: 300;
			text-align: center;
			margin-bottom: 1.7em;
	margin-top: 1em;
	text-shadow: 4px 4px 11px;
	font-family: Times, Times New Roman, serif;
	letter-spacing: 4px;
		}
	
.links {
	color: black;
    font-size: .75em;
	font-weight: 300;
	text-align: center;
	padding-top: .9em;
	letter-spacing: 5px;
	text-transform: uppercase;
	line-height: 2rem;
}


li {
 display: block;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 7px;
  color: white;
  background-color: #979ba6;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
	opacity: 0.8
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Didact Gothic', sans-serif;
    color:#333;
    box-sizing: border-box;
    width: 44px;
}

.lang-menu {
    width: 100px;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.lang-menu .selected-lang {  
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
    
}
.lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/hu/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.hu:before {
    background-image: url(https://www.countryflags.io/hu/flat/32.png);
}

.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.lang-menu:hover ul {
    display: block;
}

